absl-py==2.0.0
altgraph==0.17.4
astroid==3.0.1
astunparse==1.6.3
attrs==23.1.0
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cors==1.0.1
cycler==0.11.0
dill==0.3.7
filelock==3.12.4
Flask==2.3.3
Flask-Cors==4.0.0
flatbuffers==23.5.26
fonttools==4.42.1
future==0.18.3
gast==0.4.0
gevent==23.9.1
google-auth==2.23.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.59.0
gunicorn==21.2.0
h5py==3.1.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
keras==2.13.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.8.0
mccabe==0.7.0
mediapipe==0.10.5
ml-dtypes==0.2.0
numpy==1.24.3
oauthlib==3.2.2
opencv-contrib-python==4.8.1.78
opt-einsum==3.3.0
packaging==23.1
pefile==2023.2.7
Pillow==10.0.1
platformdirs==3.11.0
protobuf==4.24.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
pylint==3.0.2
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pywin32-ctypes==0.2.2
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
six==1.15.0
sounddevice==0.4.6
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
tldextract==3.6.0
tomli==2.0.1
tomlkit==0.12.1
typing-extensions==3.7.4.3
urllib3==2.0.5
Werkzeug==2.3.7
wrapt==1.14.1
zipp==3.17.0
zope.event==5.0
zope.interface==6.0
